@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    background: linear-gradient(#33ccff 0%, #ffcccc 100%);
}
#card{
    background: #FFFFFF;  
    margin: 100px 300px 100px 300px;
    text-align: center;  
    padding: 10px;
}
hr{
    width: 50%;
    margin-left: 25%;
}
#card img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
 
div a{
    text-decoration: none;
    color: black;
}
div p{
    padding: 10px;
}
